<?xml version="1.0"?>
<!--
/*
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User Software Agreement (EULA).
 * It is also available through the world-wide-web at this URL:
 * http://www.harapartners.com/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to eula@harapartners.com so we can send you a copy immediately.
 * 
 */
 -->
<config>
    <modules>
        <Harapartners_SpeedTax>
            <version>4.1.1</version>
        </Harapartners_SpeedTax>
    </modules>
    <global>
        <blocks>
            <speedtax>
                <class>Harapartners_SpeedTax_Block</class>
            </speedtax>
        </blocks>
        <models>
            <speedtax>
                <class>Harapartners_SpeedTax_Model</class>
				<resourceModel>speedtax_resource</resourceModel>
            </speedtax>
			<speedtax_resource>
				<class>Harapartners_SpeedTax_Model_Resource</class>
				<entities>
					<failsafe_calculation_rate>
						<table>speedtax_failsafe_calculation_rate</table>
					</failsafe_calculation_rate>
				</entities>
			</speedtax_resource>
			<tax>
                <rewrite>
                    <sales_total_quote_tax>Harapartners_SpeedTax_Model_Rewrite_Tax_Sales_Total_Quote_Tax</sales_total_quote_tax>
                </rewrite>
            </tax>
        </models>
        <helpers>
            <speedtax>
                <class>Harapartners_SpeedTax_Helper</class>
            </speedtax>
        </helpers>
        <resources>
            <speedtax_setup>
                <setup>
                    <module>Harapartners_SpeedTax</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </speedtax_setup>
        </resources>
        <events>
			<!-- Checkout process, (failsafe calculation can be enabled) -->
			<sales_order_save_before>
				<observers>
                    <speedtax>
                        <type>singleton</type>
                        <class>speedtax/observer</class>
                        <method>saleOrderSaveBefore</method>
                    </speedtax>
                </observers>
			</sales_order_save_before>
			
			<!-- Post invoices to SpeedTax (failsafe delayed invoice post can be enabled) -->
            <sales_order_invoice_pay>
                <observers>
                    <speedtax>
                        <type>singleton</type>
                        <class>speedtax/observer</class>
                        <method>saleOrderInvoicePay</method>
                    </speedtax>
                </observers>
            </sales_order_invoice_pay>
			
			<!-- Post credit memo to SpeedTax (admin only function, no failsafe needed) -->
            <sales_order_creditmemo_refund>
                <observers>
                    <speedtax>
                        <type>singleton</type>
                        <class>speedtax/observer</class>
                        <method>salesOrderCreditmemoRefund</method>
                    </speedtax>
                </observers>
            </sales_order_creditmemo_refund>
			
			<!-- Upon order cancel/edit, credit memo must be created manually for existing invoices, SpeedTax invoices will NOT be voided -->
			<!--order_cancel_after>
				<observers>
                    <speedtax>
                        <type>singleton</type>
                        <class>speedtax/observer</class>
                        <method>orderCancelAfter</method>
                    </speedtax>
                </observers>
			</order_cancel_after-->
        </events>
    </global>
    <adminhtml>
		<events>
			<controller_action_layout_generate_blocks_after>
				<!-- Global layout modifications -->
				<!-- Prepare and render important admin panel messages -->
                <observers>
                    <speedtax_adminhtml_only_layout_generate_blocks_after>
                        <type>singleton</type>
                        <class>speedtax/observer</class>
                        <method>adminhtmlOnlyLayoutGenerateBlocksAfter</method>
                    </speedtax_adminhtml_only_layout_generate_blocks_after>
                </observers>
			</controller_action_layout_generate_blocks_after>
		</events>
	</adminhtml>
    <admin>
        <routers>
            <speedtax_adminhtml>
                <use>admin</use>
                <args>
                    <module>Harapartners_SpeedTax_Adminhtml</module>
                    <frontName>speedtax_adminhtml</frontName>
                </args>
            </speedtax_adminhtml>
        </routers>
    </admin>
	<crontab>
		<jobs>
			<speedtax_batch_post_failsafe_invoice>
				<schedule>
					<cron_expr>23 * * * *</cron_expr>
				</schedule>
				<run>
					<model>speedtax/observer::batchPostFailsafeInvoice</model>
				</run>
			</speedtax_batch_post_failsafe_invoice>
		</jobs>
	</crontab>
    <default>
        <speedtax>
            <speedtax>
                <action>0</action>
				<is_tax_shipping>0</is_tax_shipping>
				<shipping_tax_code>Shipping</shipping_tax_code>
				<is_use_product_tax_class>0</is_use_product_tax_class>
                <url>https://www.speedtax.com/</url>
                <shipping_sku>Shipping</shipping_sku>
                <adjustment_positive_sku>Adjustment</adjustment_positive_sku>
                <adjustment_negative_sku>Adjustment</adjustment_negative_sku>
                <sales_person_code>Magento</sales_person_code>
                <error_full_stop>1</error_full_stop>
                <error_frontend_action>2</error_frontend_action>
                <error_frontend_message>Unfortunately, we could not calculate tax for your order. Please try again with a different address or contact us to complete your order.</error_frontend_message>
                <error_backend_message>There was an error getting tax rates from Speedtax. Please see the error log for details.</error_backend_message>
                <error_notification_toolbar>1</error_notification_toolbar>
                <onepage_normalize_message>Your shipping address has been modified during our validation process. Please confirm the address to the right is accurate.</onepage_normalize_message>
            </speedtax>
			<failsafe>
				<is_enabled>1</is_enabled>
				<is_auto_post_failsafe_invoice>1</is_auto_post_failsafe_invoice>
			</failsafe>
        </speedtax>
    </default>
</config>