<?xml version="1.0"?>
<!--
/*
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User Software Agreement (EULA).
 * It is also available through the world-wide-web at this URL:
 * http://www.harapartners.com/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to eula@harapartners.com so we can send you a copy immediately.
 * 
 */
 -->
<config>
    <sections>
        <speedtax translate="label" module="speedtax">
            <class>speedtax-section</class>
            <label><![CDATA[SalesTax.com by <br/><img src="https://www.harapartners.com/skin/frontend/enterprise/harapartners/images/hp/HP2.0Logo.png" alt="HaraPartners" width="100" height="20">]]></label>
            <header_css>speedtax-header</header_css>
            <tab>sales</tab>
            <sort_order>304</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
				<signup>
                    <label>Sign up for SalesTax.com</label>
                    <comment><![CDATA[
                        <p class="switcher">
						Sign up for a <a href="http://harapartners.com/solutions/salestax/30daytrial" target="_blank" style="color: #00C3FF;">Free 30 Day Trial</a>.<br/>
						<a href="http://www.harapartners.com/solutions/salestax/signup" target="_blank" style="color: #00C3FF;">Sign up for SalesTax.com to process your Sales Taxes.</a>.<br/>
                        Call with questions at <b>646-663-5672</b> or find more information under <a href="http://www.harapartners.com/salestax" target="_blank" style="color: #00C3FF;">http://www.harapartners.com/salestax</a>.
						</p>
                    ]]></comment>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
					<expanded>1</expanded>
				</signup>
                <speedtax>
                    <label>SalesTax.com Configuration</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
						<is_enabled translate="label">
							<label>Status</label>
							<comment><![CDATA[If "No", default Magento tax calculations will be used.]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</is_enabled>
                        <username translate="label">
                            <label>Username</label>
                            <comment><![CDATA[Please check the credentials in the sign up email.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
							<validate>required-entry</validate>
                        </username>
                        <password translate="label">
                            <label>Password</label>
                            <comment><![CDATA[Please check the credentials in the sign up email.]]></comment>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>115</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
							<validate>required-entry</validate>
                        </password>
                        <company_code translate="label">
                            <label>Company Code</label>
                            <comment><![CDATA[Please check the credentials in the sign up email.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
							<validate>required-entry</validate>
                        </company_code>
                        <is_test_mode translate="label">
                            <label>Test Mode</label>
                            <comment><![CDATA[
									Switching between test and production accounts.<br/>
									Please make sure to select the correct account with your credentials.]]>
							</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>125</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </is_test_mode>
						<authentication_wizard translate="button_label">
                            <label></label>
							<comment><![CDATA[
									Please <b style="color: red;">save</b> the configuration after validating your login credentials.
							]]></comment>
                            <button_label>Validate login credentials</button_label>
                            <frontend_model>speedtax/adminhtml_system_config_form_field_authentication</frontend_model>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </authentication_wizard>
                        <is_tax_shipping translate="label">
                            <label>Calculate Taxes On Shipping/Handling Cost</label>
                            <comment><![CDATA[
									If "Yes", a separate shipping line item will be used to calculate the shipping tax.<br/>
									The tax code of this line item can be specified below.
							]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </is_tax_shipping>
						<shipping_tax_code translate="label">
                            <label>Shipping Tax Code</label>
                            <comment><![CDATA[Default value: "Shipping"]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>310</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </shipping_tax_code>
						<is_use_product_tax_class translate="label">
                            <label>Use Product Tax Class as Tax Code</label>
                            <comment><![CDATA[
									Default value: "No", where SKU will be used for product tax code.<br/>
									If "Yes", product tax class name will be used instead.
							]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>320</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </is_use_product_tax_class>
                        <origins translate="label">
                            <label>Nexus</label>
                            <comment><![CDATA[
									Multi-select. Select <b style="color: red;">all states</b> where you have nexus and want sales taxes to be used for.
							]]></comment>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>350</sort_order>
                            <source_model>speedtax/source_usregions</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </origins>
						<tax_exempt_customer_group translate="label">
                            <label>Tax Exempt Customer Group</label>
							<comment><![CDATA[
									Multi-select.
							]]></comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>adminhtml/system_config_source_customer_group</source_model>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
							<can_be_empty>1</can_be_empty>
                        </tax_exempt_customer_group>
						<is_debug_transaction translate="label">
                            <label>Debug Transactions</label>
                            <comment><![CDATA[If "Yes", transactions will be logged.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>900</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </is_debug_transaction>
                    </fields>
                </speedtax>
				<tax_by_billing>
                    <label>Tax By Billing Address Exceptions</label>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
					<comment><![CDATA[
                        <p class="switcher">
						Exceptions can be created to allow tax calculated by billing address (instead of by shipping address), if:<br/>
						1) The order is billed from a state listed in the "Billing Orgin States" section; and<br/>
						2) The order is <b>NOT</b> shipped to any state listed in the "Billing Orgin States" section.
						</p>
                    ]]></comment>
                    <fields>
						<is_enabled translate="label">
							<label>Is Enabled</label>
							<comment><![CDATA[]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</is_enabled>
                        <billing_origins translate="label">
                            <label>Billing Orgin States</label>
                            <comment><![CDATA[Multiple-select. Please make sure the selected state(s) is in the list of your nexus.]]></comment>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>200</sort_order>
                            <source_model>speedtax/source_usregions</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </billing_origins>
                    </fields>
                </tax_by_billing>
				<failsafe>
					<label>Fail Safe Configuration</label>
                    <comment><![CDATA[
                        <p class="switcher">
						Fail safe logic provides an additional layer of robustness to the tax integration.<br/>
						This mechanism allows the customer to complete checkout in case the SalesTax service is unreachable.<br/>
						Magento processes supported for fail safe: checkout, place order and invoice pay.<br/>
						1) During tax calculation, state level tax rates for default taxable goods are stored in Magento in case of a future failure.<br/>
						2) If the invoice cannot be posted to SalesTax, the invoice processing workflow can continue. The problematic invoices can be posted to SalesTax later.
						</p>
                    ]]></comment>
					<sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
					<fields>
						<is_enabled translate="label">
							<label>Is Enabled</label>
							<comment><![CDATA[]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</is_enabled>
						<is_auto_post_failsafe_invoice translate="label">
							<label>Auto Post Fail Safe Invoice</label>
							<comment><![CDATA[
									If "Yes", fail safe invoice can be posted to SalesTax automatically.<br/>
									Please make sure Magento cron job is running.
							]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>200</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</is_auto_post_failsafe_invoice>
					</fields>
				</failsafe>
				<help_extra>
					<label>SalesTax.com Help</label>
                    <comment><![CDATA[
                        <p class="switcher">
						Get help with configuring and setting up the SalesTax.com module at <a href="http://www.harapartners.com/salestax/help#configuration" target="_blank" style="color: #00C3FF;">http://www.harapartners.com/salestax/help#configuration</a>.<br/>
						Find more information at <a href="http://www.harapartners.com/salestax/help" target="_blank" style="color: #00C3FF;">http://www.harapartners.com/salestax/help</a>.<br/>
                        Learn more about the SalesTax.com solution, additional features, updates and help at <a href="http://www.harapartners.com/salestax" target="_blank" style="color: #00C3FF;">http://www.harapartners.com/salestax</a>.
						</p>
                    ]]></comment>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
					<expanded>1</expanded>
				</help_extra>
            </groups>
        </speedtax>
        <shipping>
            <groups>
                <origin>
                    <fields>
                        <street translate="label">
                            <label><![CDATA[Number & Street]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>99</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </street>
                    </fields>
                </origin>
            </groups>
        </shipping>
    </sections>
</config>
